.benefits {
  background: #1e1823;
  padding: 30px 0;
}
@media only screen and (min-width: 768px) {
  .benefits {
    padding: 50px 0;
  }
}

.benefits-list {
  display: flex;
  row-gap: 28px;
  flex-direction: column;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .benefits-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 62px 88px;
  }
}

.benefits-item {
  width: 311px;
  position: relative;
}

@media only screen and (min-width: 1168px) {
  .benefits-list {
    justify-content: center;
    flex-wrap: nowrap;
  }
}
@media only screen and (min-width: 768px) {
  .benefits-item {
    width: 308px;
  }
}
@media only screen and (min-width: 1168px) {
  .benefits-item:not(:last-child)::after {
    content: '';
    right: -44px;
    position: absolute;
    top: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    width: 1px;
    height: 124px;
    display: block;
    transform: translateY(-50%);
  }
}
.benefits-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: #fff;
  margin-bottom: 18px;
}
.benefits-desc {
  color: rgba(255, 255, 255, 0.7);
}

.benefits-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 7px;

  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 365px;
  width: 62px;
  height: 62px;
  margin-bottom: 22px;
}
