.footer {
  padding: 32px 0;
  background-color: #1e1823;
}

@media only screen and (min-width: 768px) {
  .footer {
    padding: 50px 0px;
  }
}
.footer-slogan {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: #fff;

  max-width: 300px;
}
@media only screen and (min-width: 768px) {
  .footer-slogan {
    font-size: 28px;
    line-height: 1.21;
  }
}
.footer-caption {
  font-weight: 600;
  color: #fff;
  margin-bottom: 14px;
}

.contacts {
}
.contacts-list {
}
.contacts-item {
}
.contacts-item:not(:last-child) {
  margin-bottom: 4px;
}
.contacts-link {
  font-weight: 400;
  color: #fff;
  transition: 300ms ease-out;
  transition-property: color;
}
.contacts-link:hover,
.contacts-link:focus {
  color: #fd9222;
}
.footer-wrapper {
}
@media only screen and (min-width: 768px) {
  .footer-wrapper {
    margin-left: auto;
    margin-right: 40px;
  }
}
@media only screen and (min-width: 1168px) {
  .footer-wrapper {
    margin-left: auto;
    margin-right: 90px;
  }
}
.footer-top {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-bottom: 32px;
  display: flex;

  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
@media only screen and (min-width: 768px) {
  .footer-top {
    align-items: center;
    padding-bottom: 48px;
    flex-direction: row;
  }
}
.footer-bottom {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media only screen and (min-width: 768px) {
  .footer-bottom {
    padding-top: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.footer-menu {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
@media only screen and (min-width: 768px) {
  .footer-menu {
    flex-direction: row;
    align-items: center;
    gap: 16px;
  }
}
@media only screen and (min-width: 1168px) {
  .footer-menu {
    gap: 24px;
  }
}

.footer-menu-link {
  font-weight: 500;
  color: #fff;
  display: block;
  transition: 300ms ease-out;
  transition-property: color;
  white-space: nowrap;
}
@media only screen and (min-width: 768px) {
  .footer-menu-link {
    padding: 11px 0;
  }
}
.footer-menu-link:hover,
.footer-menu-link:focus {
  color: #fd9222;
}
/* footer form */
.footer-form {
  display: flex;
  gap: 8px;
}
@media only screen and (min-width: 1168px) {
  .footer-form {
    max-width: 474px;
    width: 100%;
    margin-left: auto;
  }
}
.footer-form-field {
}
.footer-form-input {
  max-width: 314px;
  height: 42px;
  padding: 12px 24px;
  width: 100%;

  background-color: transparent;
  outline: transparent;
  border: 1.5px solid rgba(255, 255, 255, 0.1);
  border-radius: 30px;

  transition: 300ms ease-out;
  transition-property: border-color;
}
@media only screen and (min-width: 1168px) {
  .footer-form-input {
    height: 46px;
  }
}
.footer-form-input:focus {
  border-color: #fd9222;
}

.footer-form-input::placeholder {
  color: #fff;
}
