.header {
  padding: 18px 0px;
}
@media only screen and (min-width: 768px) {
  .header {
    padding: 20px 0;
  }
}

.header .container {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 767.98px) {
  .main-nav {
    display: none;
  }
}
.main-nav {
  margin-left: auto;
  margin-right: 20px;
}
.main-nav-list {
  gap: 20px;
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 1024px) {
  .main-nav {
    margin-right: 122px;
  }
  .main-nav-list {
    gap: 25px;
  }
}
@media only screen and (min-width: 1168px) {
  .main-nav-list {
    gap: 24px;
  }
}
.main-nav-item {
}
.main-nav-link {
  position: relative;
  display: block;
  padding: 11px 0;

  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  transition: 300ms ease-out;
  transition-property: color;
}

.main-nav-link:hover,
.main-nav-link:focus,
.main-nav-link.current::after {
  color: #fd9222;
}

.main-nav-link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  border-radius: 2px;
  height: 4px;
  background: #fd9222;
}

@media only screen and (max-width: 767.98px) {
  .header .socials {
    display: none;
  }
}
