.ingredients {
  padding: 120px 0 60px;
}
.ingredients-title {
}
.ingredients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.ingredients-item {
  width: calc((100% - 32px * 3) / 4);
  border-radius: 15px;
  padding: 28px 24px;
  position: relative;
}
.ingredients-img {
  margin-bottom: 36px;
}
.ingredients-subtitle {
  font-weight: 600;
  text-transform: uppercase;
  font-size: inherit;
}
.ingredients-item:nth-child(2n) {
  background: #fff;
  border: 1px solid #fd9222;
  border-radius: 15px;
}
.ingredients-item:nth-child(4n + 1) {
  border-radius: 15px;
  padding: 28px 24px;
  background: #fd9222;
  color: #fff;
}
.ingredients-item:nth-child(4n + 3) {
  background: #1e1823;
  border-radius: 15px;
  padding: 28px 24px;
  color: #fff;
}
.ingredients-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 0;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 14px;
  right: 14px;
}

.ingredients-item:nth-child(2n) .ingredients-icon {
  color: #fd9222;
}

.ingredients-item:nth-child(2n + 1) .ingredients-icon {
  color: #fafafa;
}
