.ingredients {
}
.ingredients-title {
}
.ingredients-list {
}
.ingredients-item {
}
.ingredients-img {
}
.ingredients-subtitle {
  font-weight: 600;
  text-transform: uppercase;
  font-size: inherit;
}
