.made-img {
  height: 400px;
  object-fit: cover;
}
@media only screen and (min-width: 768px) {
  .made-img {
    width: 600px;
  }
}
.made-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33333;
  color: #111;
  max-width: 350px;
  margin-bottom: 20px;
}
@media only screen and (min-width: 768px) {
  .made-subtitle {
    margin-bottom: 28px;
  }
}
.made-list {
}
.made-item:not(:last-child) {
  margin-bottom: 18px;
}

@media only screen and (min-width: 1168px) {
  .made-item:not(:last-child) {
    margin-bottom: 24px;
  }
}
.made-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
@media only screen and (min-width: 1168px) {
  .made-wrapper {
    flex-direction: row;
  }
}
.made-rightside {
  border-radius: 15px;
  padding: 32px;
  max-width: 600px;
}
@media only screen and (min-width: 1168px) {
  .made-rightside {
    width: 516px;
  }
}
.made-leftside {
  overflow: hidden;
  border-radius: 16px;
  background-color: #fff;
  max-width: 600px;
}
.made-item {
  display: flex;
  gap: 8px;
}

.made-item::before {
  content: '';
  flex-shrink: 0;
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-top: 5px;
  border: 1px solid #eceded;
  background-color: #4c4c4c;
  border-radius: 50%;
}
