.made {
}
.made-title {
}
.made-img {
}
.made-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33333;
  color: #111;
  max-width: 350px;
  margin-bottom: 28px;
}
.made-list {
}
.made-item:not(:last-child) {
  margin-bottom: 24px;
}
.made-wrapper {
  display: flex;
  gap: 20px;
}
.made-rightside {
  border-radius: 15px;
  padding: 32px;
  width: 516px;
}
.made-leftside {
  overflow: hidden;
  border-radius: 16px;
  background-color: #fff;
}
.made-item {
  display: flex;
  gap: 8px;
}

.made-item::before {
  content: '';
  flex-shrink: 0;
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-top: 5px;
  border: 1px solid #eceded;
  background-color: #4c4c4c;
  border-radius: 50%;
}
