.reviews {
  padding-bottom: 120px;
}

.reviews-title {
  margin-bottom: 90px;
}

.reviews-list {
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
}
.reviews-item {
  position: relative;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 16px;
  padding: 56px 24px 24px;

  background: #fff;
  width: calc((100% - 28px * 2) / 3);
  margin-bottom: 90px;
  box-shadow: 0 4px 10px 0 rgba(17, 17, 17, 0.1);
}
.reviews-img {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
}
.reviews-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  margin-bottom: 24px;
}
.reviews-text {
  font-weight: 400;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}
